# compiler output
pgipar*
*.mod
*.o
*.lst
*.ptx
*.dSYM

# executables
xnet
xnet[dmp]
xnet_nse
xnse
net_setup

# build_net files
test/build_net/build_net
test/build_net/new_data

# misc
.DS_Store
*.bak
*.tgz
*.tar
*.out

# compiled python
*.pyc

# HSL source
MA4[18].f
tools/HSL

# network data binaries
match_data
match_read
matr_shape
net_diag
netneutr
nets[34]
nuc_data
sparse_ind

# xnet output files
ts*
ev*
net_diag*
nse_diag*

# core dumps
core*

# local ab_ and th_ files
test/ab*
test/th*

# runtime controls
control*
